<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Peter's Tech Blog</title>
  <link 
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous"/>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Peter's Tech Blog</a>
      </h1>
      <nav>
        {{#if loggedIn}}
        <a href="/dashboard"><span class="glyphicon glyphicon-user"></span>{{ username }}'s Dashboard</a>
        <button id="logout" class="btn-no-style">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      <div class="content has-text-centered">
                <p>
                    <strong>Tech Blog by</strong>
                    -
                    <a
                        href="https://github.com/HuiPan-Peter/MVC-Tech-Blog_HuiPan"
                        target="_blank"
                    >Hui Pan</a>
                    - using Node.js, Express.js, Handlebars.js, Sequelize.js and MySQL
                </p>
            </div>
    </footer>
  </div>

</body>

</html>

{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}